@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(92, 89, 89);
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    height: 600px;
}

/* Indicate where your code starts and ends */